/* color palette from <https://github.com/vuejs/theme> */

:root {
    --vt-c-castom: rgb(117, 174, 201);
    --vt-c-white: rgb(255, 253, 253);
    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
}


/* semantic color variables for this project */

:root {
    --color-background: var(--vt-c-castom);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-text: var(--vt-c-white);
    --section-gap: 160px;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}